@model IEnumerable<casestudy2.Models.Product.Category>

<div>
    <form asp-action="DisplayPage" method="get">
        <div class="flex d-flex">
            <select id="Category" name="CategoryId" class="form-control p-2 m-2">
                <option value="">All Categories</option>
                @{
                    foreach (var item in ViewBag.categories)
                    {
                        <option value="@item.CategoryId">@item.CategoryName</option>
                    }

                }

            </select>
            <select id="SubCategory" name="SubCategoryId" class="form-control p-2 m-2">
                <option value="">All SubCategories</option>
                @{
                    foreach (var item in ViewBag.subcategories)
                    {
                        <option value="@item.SubCategoryId">@item.SubCategoryName</option>
                    }

                }
            </select>
            <button type="submit" class="btn btn-primary m-2">Filter</button>
        </div>
        
        
    </form>
</div>
