*{
    padding:0;
    margin:0;
}


body {
 font-family:'Poppins';
 font-size:14px;
}
h1{
    font-size:64px;
    line-height:77px;
    font-weight:600;
    color:black    
}
p {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: #0f0f10;
}
.heroimg{
    width:100%;
}
button:hover{
    color:white;
}
.customButton{
    display:inline-block;
}
.carditemimg {
    height: 60px;
}
.icons{
    height:25px
}

a{
    display:inline-block;
    text-decoration:none;
    color:black;
    
}
a:hover{
    color:white;
}
.customcard{
    border-radius:12px
}
.productCardimg{
    height:250px;
    object-fit:contain
}
.leftmargin {
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 0;
}
.leftmargin1 {
 
    padding:10px;
    border-radius: 100px;
    background: #dae0eb;
    display: inline-block;
}
.HomeSection {
    border-radius: 12px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.cardshadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}